
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .navbar{
        border-bottom: 2px solid darkgrey;
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 70px;
        align-items: center;
        .elements{
            display: flex;
            gap: 20px;
            a{
                font-size: 25px;
                text-transform: capitalize;
                text-decoration: none;
                color: black;
            }
        }
        .icons{
            display: flex;
            gap: 10px;
            i{
                background-color: darkgrey;
                
                padding: 2px;
                border-radius: 5px;

                font-size: 25px;
                color: black;
            }
        }
    }
    .title{
        display: flex;
        gap: 20px;
        i{
            font-size: 50px;
            color: navy;
        }
        h1{
            font-size: 50px;
            text-transform: capitalize;
            color: navy;
        }
    }
    .subbar{
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 1180px;
        border-bottom: 2px solid gray;
       
        a{
            
            text-decoration: none;
            font-size: 25px;
            text-transform: capitalize;
            padding-bottom: 5px;
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
     
        .card{
            display: flex;
            flex-direction: column;
            gap: 15px;
            border: 2px solid black;
            width: 380px;
            img{
                height: 400px;
                width: 380px;
            }
            h1{
                text-transform: capitalize;
                font-size: 25px;
                font-weight: bold;
                padding-left: 5px;
                /* padding-right: 5px; */
                /* padding: 10px; */
            }
            .p1{
                padding-left: 5px;
                font-size: 15px;
                text-transform: capitalize;
                font-family: 'Times New Roman', Times, serif;
                text-align: justify;
                padding-right: 5px;
                
                /* padding: 10px; */

            }
            .p2{
                padding-left: 5px;
                /* padding: 10px; */
                padding-top: 5px;
                padding-bottom: 5px;
                border-top: 1px solid gray;
                font-size: 15px;
                text-transform: capitalize;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
    .footer{
        background-color: darkblue;
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        align-items: center;
        .footerlog{
            display: flex;
            flex-direction: column;
            align-items: center;
            i{
                font-size: 30px;

            }
            h1{
                font-size: 30px;
                text-transform: uppercase;
                /* color: white; */
                font-weight: bold;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             padding-bottom: 15px;

            }
        }
        .logo1{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid white;
            width: 80%;
            h2{
                padding-top: 20px;
                font-size: 20px;
                text-transform: capitalize;
            }
            .logo{
                font-size: 35px;
                padding-top: 15px;
                i{
                    background-color: lightgrey;
                    border-radius: 5px;
                    padding: 2px;
                    color: black;
                }
            }
        }
    }
}